@model FableFortuneCardList.Models.Deck
@using FableFortuneCardList.Enums

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<div class="panel">
    <div class="panel-body">
        <form asp-action="Create">
            <div class="form-horizontal">
                <h4>Deck</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="Description" class="form-control" ></textarea>
                        <span asp-validation-for="Description" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="col-md-2 control-label"></label>
                    <div class="col-md-10">                        
                        @Html.DropDownListFor(x => x.Type, (IEnumerable<SelectListItem>)ViewBag.DeckTypeList, null, new { @class = "form-control", onchange = "SetArenaType(this)" })
                        <span asp-validation-for="Type" class="text-danger" />
                    </div>
                </div>
                <div id="deckArenaCoopDiv" class="form-group">
                    <label asp-for="ArenaCoop" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.ArenaCoop, (IEnumerable<SelectListItem>)ViewBag.DeckArenaCoop, null, new { @class = "form-control" })
                        <span asp-validation-for="ArenaCoop" class="text-danger" />
                    </div>
                </div>
                <div id="deckArenaPVPDiv" class="form-group hidden">
                    <label asp-for="ArenaPVP" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.ArenaPVP, (IEnumerable<SelectListItem>)ViewBag.DeckArenaPVP, null, new { @class = "form-control" })
                        <span asp-validation-for="ArenaPVP" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Class" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.Class, (IEnumerable<SelectListItem>)ViewBag.ClassList, null, new { @class = "form-control" })
                        <span asp-validation-for="Class" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    function SetArenaType(sel) {
        if (sel.options[sel.value - 1].text == 'Coop') {
            $('#deckArenaPVPDiv').addClass('hidden')
            if ($('#deckArenaCoopDiv').hasClass('hidden')) {
                $('#deckArenaCoopDiv').removeClass('hidden')
            }
        } else if (sel.options[sel.value - 1].text == 'PVP') {
            $('#deckArenaCoopDiv').addClass('hidden')
            if ($('#deckArenaPVPDiv').hasClass('hidden')) {
                $('#deckArenaPVPDiv').removeClass('hidden')
            }
        }
    }
</script>
