@model FableFortuneCardList.Models.DeckViewModels.DeckCardEditViewModel;

<div class="deckCard">
    @{Html.RenderPartial("DeckCardView", Model.Card);}
    @if (Model.CardCount > 1)
    {
        string count = "x" + Model.CardCount;
        <span class="deckCardCount">@count</span>

    }

    @if (Context.Request.Path.Value.Contains("Edit") || Context.Request.Path.Value.Contains("AddCard") || Context.Request.Path.Value.Contains("RemoveCard"))
    {
        <div class="deckCardRemoveButton">
            <form id="removeForm" asp-action="RemoveCard">
                <input type="hidden" name="deckCardId" value="@Model.DeckCardID" />
                <input type="submit" value="-" class="btn btn-default removeCardBtn" style="font-size:8pt;" />
            </form>
        </div>
    }
</div>







