@{
    ViewData["Title"] = "Login Failure";
}

<div class="panel">
    <div class="panel-body">
        <h2>@ViewData["Title"].</h2>
        <p class="text-danger">Unsuccessful login with service.</p>
    </div>
</div>