
@{
    ViewData["Title"] = "Registration Successful";
}

<h2>RegisterSuccessful</h2>

<div class="panel">
    <div class="panel-body">
        <p>Your registration was Successful!</p>
        <p>A verification email has been sent from fablefortunecardlist@gmail.com.  Please click the link in this email to confirm your account.<br />You will not be able to create decks until you have verified your account.</p>
        <p>Note: If you don't see the email, then check the spam folder.  You can resend the email by clicking on your username at the top of the screen.</p>
    </div>
</div>

