body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: fable2;
    font-weight:bold;
    background: #191105;
    background-image: url("/images/seamless-wood3.jpg");    
}

.panel-body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.loadMask{
    background-image:url(../images/loading-gear.gif);
    display:block;
}

dl{
    color:#fff;
}

#DeckCardSummary{
    /*position:fixed;*/
    width:200px;
}



.deckCardContainer{
    height: 100%;
    width: 100%;
    display: block;
    background-size: 150%;
    background-position: -77px -117px;
    border-radius: 5px;
}



.navbar-brand img{
    max-height:50px;
}

.navbar-brand{
    padding:0;
    margin:0;
}
dl dd{
    font-weight:normal;
}

table.dataTable tbody tr {
    background-color: #fff7ef !important;
}

@media (max-width: 1200px){
    .mobileHide{
        display:none;
    }
}

@media (max-width: 540px)
{
    .mobileHideSmall{
        display:none;
    }
}

.filterList a{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.panel-body{
    background-color: #a89167;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    padding: 12px;
    background-image: url(/images/Large_ET-191.png);
    background-position: center;

    border-radius: 8px;
    border-width: 1px;
    border-style: dashed;
    border-color: #f0bf43;


    outline: 2px rgba(240, 191, 67, 0.60) dashed;
    outline-offset: -10px;
}

table.dataTable tr td{
    vertical-align:middle;
}

.panel{
border: none;
    background-color: #efddba;
    padding: 0px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.cardTemplateTooltip{
    position:absolute;
    display:inline-block;
    border:none;
    background:none !important;
    background-image:none !important;
    border:none !important;
    box-shadow:none !important;
    font-family:inherit !important;
}

div.deckCardTemplate{
        background-image:none;
    font-family:inherit;    
    border-radius: 5px;
    padding:5px;
    width:210px;    
    height:50px;
    box-shadow:rgba(0,0,0,0.6) 5px 5px 5px;
    margin:5px;
    display:block;
    float:left;
        text-shadow: 5px 5px 10px rgba(0,0,0,0.9);
}

div.cardTemplate{
    background-image:none;
    font-family:inherit;    
    border-radius: 15px;
    padding:5px;
    width:210px;    
    height:275px;
    box-shadow:rgba(0,0,0,0.6) 5px 5px 5px;
    margin:5px;
    display:block;
    float:left;
        text-shadow: 5px 5px 10px rgba(0,0,0,0.9);
}

div.cardImage{
    display:inline-block;
    position:relative;
    width:220px;
    height:297px;
    
    
}

img.cardImage{
    position:absolute;
    width:220px;
    height:auto;
    background-image: url(../images/card_background.png);
    background-size:contain;
}

a img.cardImage:hover{
    position:absolute;
    float:left;
    width:250px;
    height:auto;
    top:-15px;
    right:-15px;
    z-index:10;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

ul.goldCost{
    list-style-type:none;
}

ul.goldCost li{
    float:left;
    margin:5px;
}



div.cost-bar{
    background-color: #493f33;
    height:100px;
    width:25px;
    position:relative;
    border:1px solid rgba(0,0,0,0.6);
    
        box-shadow: 2px 2px 30px rgba(0,0,0,0.5) inset;
}

div.goldCostSummary-mini{
    background-color: rgba(0,0,0,0.2);
    padding: 5px 5px;
    height: 40px;
    width: 220px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5) inset;
    border-radius: 8px;
    border-width: 1px;
    border-style: dashed;
    border-color: #f0bf43;

}

div.goldCostSummary-mini ul{
    margin:0;
    padding:0;
}

div.goldCostSummary-mini div.cost-bar{
    background-color: #493f33;
    height: 20px;
    width: 15px;
    position:relative;
    border:1px solid rgba(0,0,0,0.6);
    
        box-shadow: 2px 2px 30px rgba(0,0,0,0.5) inset;
}

div.goldCostSummary{
    background-color:rgba(0,0,0,0.2);
    padding: 30px 30px;
    height: 190px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.5) inset;
    border-radius: 8px;
    border-width: 1px;
    border-style: dashed;
    border-color: #f0bf43;

}

div.deckCardWrapper.Trophy::before{
    content: url(../images/TrophyIcon.png);
    position: absolute;
    left: -20px;
    top: -12px;
}

div.deckCardWrapper.Alchemist{
    background: -moz-linear-gradient(left, rgba(139,1,173,1) 0%, rgba(163,44,193,0.52) 48%, rgba(107,80,29,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(139,1,173,1) 0%,rgba(163,44,193,0.52) 48%,rgba(107,80,29,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(139,1,173,1) 0%,rgba(163,44,193,0.52) 48%,rgba(107,80,29,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b01ad', endColorstr='#006b501d',GradientType=1 ); /* IE6-9 */
}

div.deckCardWrapper.Knight{
    background: -moz-linear-gradient(left, rgba(150,73,1,1) 0%, rgba(150,104,34,0.52) 48%, rgba(107,80,29,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(150,73,1,1) 0%,rgba(150,104,34,0.52) 48%,rgba(107,80,29,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(150,73,1,1) 0%,rgba(150,104,34,0.52) 48%,rgba(107,80,29,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#964901', endColorstr='#006b501d',GradientType=1 ); /* IE6-9 */
}

div.deckCardWrapper.Shapeshifter{
    background: -moz-linear-gradient(left, rgba(211,2,2,1) 0%, rgba(191,56,43,0.52) 48%, rgba(107,80,29,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(211,2,2,1) 0%,rgba(191,56,43,0.52) 48%,rgba(107,80,29,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(211,2,2,1) 0%,rgba(191,56,43,0.52) 48%,rgba(107,80,29,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d30202', endColorstr='#006b501d',GradientType=1 ); /* IE6-9 */
}

div.deckCardWrapper.Gravedigger{
    background: -moz-linear-gradient(left, rgba(75,102,28,1) 0%, rgba(104,173,48,0.52) 48%, rgba(107,80,29,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(75,102,28,1) 0%,rgba(104,173,48,0.52) 48%,rgba(107,80,29,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(75,102,28,1) 0%,rgba(104,173,48,0.52) 48%,rgba(107,80,29,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b661c', endColorstr='#006b501d',GradientType=1 ); /* IE6-9 */
}

div.deckCardWrapper.Prophet{
    background: -moz-linear-gradient(left, rgba(216,177,2,1) 0%, rgba(183,160,42,0.52) 48%, rgba(107,80,29,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(216,177,2,1) 0%,rgba(183,160,42,0.52) 48%,rgba(107,80,29,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(216,177,2,1) 0%,rgba(183,160,42,0.52) 48%,rgba(107,80,29,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8b102', endColorstr='#006b501d',GradientType=1 ); /* IE6-9 */
}

div.deckCardWrapper.Merchant{
    background: -moz-linear-gradient(left, rgba(1,57,114,1) 0%, rgba(32,48,140,0.52) 48%, rgba(107,80,29,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(1,57,114,1) 0%,rgba(32,48,140,0.52) 48%,rgba(107,80,29,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(1,57,114,1) 0%,rgba(32,48,140,0.52) 48%,rgba(107,80,29,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013972', endColorstr='#006b501d',GradientType=1 ); /* IE6-9 */
}

div.deckCardWrapper.Neutral, div.deckCardWrapper.Trophy{
    background: -moz-linear-gradient(left, rgba(102,102,102,1) 0%, rgba(170,170,170,0.52) 48%, rgba(107,80,29,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(102,102,102,1) 0%,rgba(170,170,170,0.52) 48%,rgba(107,80,29,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(102,102,102,1) 0%,rgba(170,170,170,0.52) 48%,rgba(107,80,29,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#006b501d',GradientType=1 ); /* IE6-9 */
}


div.cost-label{
    position:relative;
    color:#f0bf43;
    font-size: 20pt;
    text-align:center;
    width:100%;
}

div.cost{
    background-color:#f0bf43;
    position:absolute;
    bottom:0px;
    float:left;
    width:100%;
    
    background: rgb(107,80,29); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(107,80,29) 1%, rgb(240,191,67) 48%, rgb(107,80,29) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(107,80,29) 1%,rgb(240,191,67) 48%,rgb(107,80,29) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(107,80,29) 1%,rgb(240,191,67) 48%,rgb(107,80,29) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b501d', endColorstr='#6b501d',GradientType=1 ); /* IE6-9 */
}

        .deckCard {
            position: relative;
            float:left;
            margin:3px;
            box-shadow: 2px 2px 10px rgba(0,0,0,.5);
            border-radius: 5px;
        }

        .deckCardCount{
            position:absolute;
            left: -20px;
            bottom: 2px;
            color:#fff;
            text-shadow:5px 5px 5px rgba(0,0,0,0.8);
        }

        .deckCardRemoveButton{
            position:absolute;
            right:0px;
            top:0px;
        }

        .deckCardRemoveButton .btn{
            background-color: rgba(0,0,0,0);
            border:none;
            width:15px;
            height:15px;
            background-image: url(../images/delete-2-xxl.png);
            background-size:contain;
            background-repeat:no-repeat;
            top: 5px;
            right: -20px;
            position:relative;
            padding:0px;
        }



div.deckCardWrapper{
    font-family:inherit;
    position:relative;    
    width: 200px;
    height: 35px;
    background-image:none;
    background-color: #493f33;
    border-radius:5px;
    border: 3px solid #000;
    box-shadow: 0 0 5px #f0bf43;
    margin:0px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.8) inset;
}

.deckCardWrapper .CardName{
    position:relative;
    float:left;
    color:#fff;
    left:5px;
    top:15px;
    top: 8px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
}

.deckCardWrapper .gold{
    position: absolute;
    right: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #f0bf43;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}

.deckCardWrapper .strength{
    position: absolute;
    text-align: left;
    font-weight: bold;
    right: 3px;
    top: -5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}

.deckCardWrapper .health{
    position: absolute;
    font-weight: bold;
    text-align: left;
    right: 3px;
    top: 12px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
}
div.cardWrapper{
    
    font-family:inherit;
    position:relative;    
    width: 200px;
    height: 265px;
    background-image:none;
    background-color: #493f33;
    border-radius:10px;
    border: 3px solid #000;
    box-shadow: 0 0 5px #f0bf43;
    margin:0px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.5) inset;
}

a div.cardTemplate:hover{
    box-shadow: 0px 0px 20px #f0bf43;
}

div.cardWrapper span.TransformName{
    position:relative;
    display:block;
    top:0px;
    margin: 0 auto;
    text-align:center;
    width:100%;
    font-size: 12pt;
    clear:both;
    text-shadow:1px 1px rgba(0,0,0,0.7);
}

div.cardWrapper.Good{
    background-color: #12295d;
}

div.cardWrapper.Evil{
    background-color: #6c0101;
}

div.cardTemplate div.CardName{
    display:block;
    position:absolute;
    width:100%;
}

div.cardTemplate span.CardName{
    display:block;
    position:relative;
    text-align:center;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 40px;
    line-height:24px;
    font-size:18pt;
    color: #fff;
    font-weight:bold;
    background: -webkit-linear-gradient(top, rgba(142,189,170,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 78%, rgba(254,254,254,1) 100%);
    background: linear-gradient(top, rgba(142,189,170,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 78%, rgba(254,254,254,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

div.cardTemplate span.GoldCount{
    position:absolute;
    float:left;
    top:-10px;
    left: -10px;
    color: #fff4d8;
    text-shadow: -1px -1px 4px #000;
    font-size: 24pt;
    background: rgb(255, 243, 171);
    border-radius: 30px;
    height:45px;
    width:45px;
    border: 3px groove rgb(255, 243, 171);
    text-align: center;
    vertical-align: central;
}

div.cardTemplate span.RarityType{
    border-radius: 30px;
    height:30px;
    width:30px;
    border: 3px groove rgb(255, 243, 171);
    position:absolute;
    float:right;
    bottom:-5px;
    right: -5px;
    background-image: url(../images/badges/guildmaster_symbol.png);
    background-position:center;
    background-size:contain;
    
}

span.RarityType.Basic{
    background-color:#fff;
}

span.RarityType.Common{
    background-color: #50b639;
}

span.RarityType.Rare{
    background-color: #408eff;
}

span.RarityType.Epic{
    background-color: #ca54f0;
}

span.RarityType.Mythic{
    background-color: #f29237;
}

span.RarityType.Fabled{
    background-color: #f02d2d;
}

div.cardTemplate span.AbilityText{
    display:block;
    position:absolute;
    text-align:center;
    top: 150px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 5px;
    line-height:24px;
    font-size:12pt;
    color: #fff;
    font-weight:normal;
    vertical-align: bottom;
    text-shadow:0 0 3px #000;
}

div.cardTemplate span.StrengthCount{
    display:block;    
    position:absolute;
    float:left;
    text-align:center;
    left: 0px;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    line-height:24px;
    font-size:18pt;
    color: #5cc1e6;
    font-weight:normal;
    text-shadow:0 0 3px #000;
}

div.cardTemplate span.HealthCount{
    display:block;
    position:absolute;
    float:left;
    text-align:center;
    top: 80px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    line-height:24px;
    font-size:18pt;
    color: #fe5d5d;
    font-weight:normal;
    text-shadow:0 0 3px #000;
}

div.cardTemplate span.AbilityText strong{
    font-weight:bold;
}

.navbar-inverse {
    background-color: #2c2212;
}
.navbar-inverse a.navbar-brand{
    color:#f0bf43;
}

h1,h2,h3,h4{
    color:#fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

ul.filterList {
    list-style-type: none;
    padding-left: 0px;
}

ul.filterList li{
    display:inline-block;  
    color:#f0bf43;  
    margin: 0px 2px;
}

ul.filterList li a{
    color:#f0bf43;
      
}

.panel-body h1, .panel-body h2,
.panel-body h3, .panel-body h4 {
    color: #fff;
    font-weight: bold;
    text-shadow: none;
    width: 100%;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.9);
    padding-left: 15px;
}

.panel-body div a, a{
    color:#f0bf43;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.9);
}

.panel-body table a{
    color:#8f7229;
    text-shadow: none;    
}

.panel-body label{
    color:#fff;

}

.panel-body hr{
    border-top-color: rgba(142,189,170,1);
    border-bottom-color: #183319;
}

p{
    color:#fff;
}

.gold{
    color:#baa700;
    font-weight:bolder;
}

.default-text{
    color: #ffffff;
    font-weight:bolder;
}

.rarity.Basic{ 
    color: #646464;
}

ul.filterList .rarity.Basic{
    color: #fff;
}

.rarity.Common{
    color: #08b900;
}

.rarity.Epic{
    color: #ad25e8;
}

.rarity.Fabled{
    color:#f03939;
    font-weight:bolder;
}

.rarity.Mythic{
    color:#ee850e;
    font-weight:bolder;
}


.rarity.Rare{
    color:#3891ff;
    font-weight:bolder;
}

.strength{
    color:#358de2;
    font-weight:bolder;
}

.health{
    color:#e55757;
    font-weight:bolder;
}

@font-face{
    font-family: "fable2";
    src: url("../fonts/fable2.ttf");
}

.ui-tooltip-content{
    width:700px;
}

.ui-widget-header input, .ui-widget-header select{
    color:#000;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.hidden {
    display: none;
}